@font-face {
  font-family: 'BigShoulders';
  src: url('../fonts/BigShouldersInlineText-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
overscroll-behavior: none;
width: 100vw;
height: 100vh;
color: white;
font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../background-pizza-image.jpg') no-repeat fixed;
  background-size: 100vw 100vh;
}

h1#headerLogo {
  font-size: max(35px, 6vw);
  font-style: italic;
  margin-top: 1vh;
  margin-bottom: 2vh;
  color: red;
}

h1 {
  font-family: 'BigShoulders';
  font-weight: 900;
  text-align: center;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, max(120px, 25vw));
  justify-content: center;
  margin-bottom: 2vh;
}

nav > button {
  font-family: Monospace;
  font-size: min(4vw, 25px);
  font-weight: bold;
  color: white;
  background: none;
  padding: 6px 0;
  border: none;
  border-bottom: max(2px, .5vw) solid white;
}

nav > button:hover {
  border: max(2px, .4vw) solid white;
  border-bottom: none;
}

.homeInitialStyle {
  border: max(2px, .5vw) solid white;
  border-bottom: none;
}

#content {
  flex: 1;
  display: flex;
  justify-content: center;
}